<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRqMjjk0SAx9HtmR6Ed3TstPgmeyDuMws</string>
	<key>GCM_SENDER_ID</key>
	<string>1024101259338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.anubis.phone</string>
	<key>PROJECT_ID</key>
	<string>phone-1c2ab</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-1c2ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024101259338:ios:8da878e43914c6bd412eb3</string>
</dict>
</plist>